@font-face {
    font-family: "Google Sans";
    src: url(../assets/fonts/GoogleSans.ttf) format("truetype");
}

@font-face {
    font-family: "Cocogoose";
    src: url(../assets/fonts/Cocogoose.ttf) format("truetype");
}

body {
    background-color: #EFD09E;
    font-family: "Google Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.general-info {
    margin: 20px;
    box-sizing: content-box;
}

.header {
    background-color: #362110;
    border-radius: 0 0 40px 40px;
    padding: 20px 0;
    text-align: center;
}

.header h1 {
    color: #EFD09E;
    margin: 0;
    font-size: 36pt;
    font-family: "Cocogoose", sans-serif;
}

.profile-section {
    margin-top: 0pt;
    text-align: center;
}

.profile-image {
    margin-top: 0pt;
    width: 20em;
}

.profile-description {
    font-size: 20pt;
    margin-right: 20pt;
    margin-left: 20pt;
}

.profile-description a {
    text-decoration: none;
    color: #915a14;
    font-size: 2em;
}

.info-section {
    margin-top: 0pt;
}

.social-links {
    font-size: 16pt;
    list-style-type: none;
    background-color: #bb9457;
    border-radius: 20px;
    padding: 30px;
    height: 300px;
    width: 35%;
    float: right;
}

.social-links a {
    text-decoration: none;
    color: #362110;
    font-weight: 500;
}

.social-links img {
    width: 20pt;
}

.social-links hr {
    background-color: #8a6f42;
    border: none;
    height: 3px;
    border-radius: 30px;
}

.features-list {
    font-size: 16pt;
    background-color: #bb9457;
    border-radius: 20px;
    padding: 30px;
    padding-left: 50px;
    height: 300px;
    color: #362110;
    width: 35%;
    float: left;
}
.clear {
    clear: both;
}

.main-content {
    background-color: #362110;
    border-radius: 40px 40px 0px 0px;
    padding: 20px;
    height: 150vh;
    color: #BB9457;
}

.work-title {
    text-align: center;
    font-size: 36pt;
    font-weight: 900;
}

.projects-container {
    text-align: center;
}

.projects-container a {
    text-decoration: none;
}

.project-image {
    width: 100pt;
    margin: 10pt;
    border-radius: 20px;
}

.content-section {
    padding: 20px;
}


.content-card {
    float: left;
    width: calc(50% - 20px);
    margin: 10px;
    background-color: #4E3624;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 30px;
    height: 300px;
}

.content-card h2 {
    font-size: 24pt;
    margin-top: 0;
    color: #f7b175;
}
